# The Storcke Human Time System- By Antonio Storcke.
[Desktop Entry]
Version=1.0
Type=Application
Name=HTS Time
Comment=The Storcke Human Time System Universal Tool
Exec=hts-time --gui
Icon=com.storcke64.hts_time
Terminal=false
Categories=Utility;