[Desktop Entry]
Name=HTS Tool
Comment=Human Time System Universal Tool
Exec=hts-time
Icon=com.storcke64.hts_time
Terminal=false
Type=Application
Categories=Utility;Clock;
StartupWMClass=hts-time