[Desktop Entry]
Name=HTS Time Utility
Comment=Storcke Human Time System date and time calculator
Exec=hts-time
Icon=com.storcke64.hts-time
Terminal=true
Type=Application
Categories=Utility;Science;
Actions=Supercycle;

[Desktop Action Supercycle]
Name=Show Supercycle Details
Exec=hts-time --supercycle